:root {
  --background: #1f1f1f;
  --accent1: #ff4d4d;
  --accent2: #ffffff;
  --accent3: #08472d;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  text-align: center;
  color: var(acce);
}

#home {
  /*background things*/
  background-image: url("assets/poster.png");
  background-size: contain;
  background-position: center;
}

#bounds {
  background-color: #1f1f1f;
  padding: 20px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

#game-over {
  color: var(--accent1);
}

p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: var(--accent1);
  border: none;
  color: var(--accent2);
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--accent3);
  color: var(--background);
}
