
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canvas App</title>
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">


    <script type="module" src="{% static 'scripts/entity.js' %}"></script>
    <script type="module" src="{% static 'scripts/events.js' %}">></script>
    <script type="module" src="{% static 'scripts/game.js' %}">></script>
    <script type="module" src="{% static 'scripts/player.js' %}">></script>


</head>
<body>

    <canvas id="myCanvas" width="256px" height="128px"></canvas>


</body>
</html>
