canvas {
    border: 1px solid black;
    width: 100%;
    height: auto;
}

th,
td {
    width: 4em;
    border: 1px solid #ddd;
    /* Add a light grey border around cells */
    padding: 5px;
    /* Add some padding within cells */
}
img {
    width: 100%;
    height: auto;
}


.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.table-container {
    flex: 1;
    max-width: calc(33% - 20px); /* Adjust the percentage based on your layout */
}

.tooltip {
    position: relative;
    display: inline-block;
    /* Adjust the styling as needed */
}

.tooltip:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 300px; /* Set the width directly */
    /* Adjust the styling as needed */
}
